*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color_darkest: #0a0a0a;
$color_lightest: #eee;

html,
body {
    background: #151515;
    color: $color_lightest;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

$sidebar_width: 90vw;

.project__sidebar {
    width: $sidebar_width;
    height: 100vh;
    background: $color_darkest;
    // margin-left: -100px;
    transition: all 0.5s;
    position: relative;
    border-right: 1px solid $color_lightest;
}

.project__sidebar.-hidden {
    margin-left: calc(-#{$sidebar_width} + 1px);
    border-right: 1px solid #797979;
}

.project__sidebar__button {
    $project__sidebar__button--size: 70px;
    width: $size;
    height: $size;

    position: absolute;
    left: calc(#{$sidebar_width} - 1px);
    bottom: 40px;

    background: $color_darkest;
    color: $color_lightest;
    border: 1px solid $color_lightest;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}

.project__list {
    margin: 0 1rem;
    list-style-type: none;
    user-select: none;
}

.project__list__item {
    border-bottom: 3px solid #2d0c58;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}

.project__list__item:hover,
.project__list__item:focus {
    border-bottom: 3px solid #3f127a;
    outline: none;
    font-weight: bold;
}

.project__list__item:active {
    border-bottom: 3px solid #351e55;
    color: #888;
}
